body {
  font-family: 'Helvetica';
  text-align: center;
  background-color: AliceBlue;
}

#dex {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  margin: auto;
}
#dex th, td {
  border-bottom: 1px solid lightgrey;
  padding: 15px;
}
#dex th {
  background-color: IndianRed;
  color: white;
}
#dex tr {
  background-color: White;
}
#dex tr:hover {
  background-color: lightgrey;
}

.Grass {
  color: green;
}
.Fire {
  color: Crimson;
}
.Poison {
  color: Purple;
}
.Water {
  color: DodgerBlue;
}
.Flying {
  color: Thistle;
}